{% extends "base.html.twig" %}

{% block body %}

{% for afficher in afficher %}
<div class="card text-center">
    <div class="card-header">
    Depense
    </div>
    <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Depense sur le bien {{ afficher.BienImmobilier.libelle }}.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card-footer text-body-secondary">
    2 days ago
    </div>
</div>
{% endfor %}
   


{% endblock %}