{% extends "base.html.twig" %}

{% block body %}

<h2><strong>Liste des Depenses sur les Differents Bien Immobilier</strong>  </h2>
<a class="btn btn-success" href="{{ path('depense_ajouter') }}" >+ Ajouter Une Depense</a>
{% for Afficher in Afficher %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
{% else %}
    <p>Aucune depense trouver</p>    
 
{% endfor %}
   


{% endblock %}