{% extends 'base.html.twig' %}

{% block title %}Hello BienImmobilierController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xamp/htdocs/Symphony/MESTP/Imobilier/src/Controller/BienImmobilierController.php'|file_link(0) }}">src/Controller/BienImmobilierController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xamp/htdocs/Symphony/MESTP/Imobilier/templates/bien_immobilier/index.html.twig'|file_link(0) }}">templates/bien_immobilier/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
